@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.background {
  background-image: url('../assets/layered-waves-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #101019;
}
